#tong{
    width: 100%;
    height: 2000px;
    background-color: tan;
}

#div_tren{
    width: 100%;
    height: 3%;
}

#div_tren  > .logo{
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
}

#div_tren > .search{
    width: 70%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 50px;
}

button:hover{
    height: 25px;
}

#menungang{
    width: 100%;
    height: 2%;
    background-color: #86BC42;
    text-align: center;
}

#menungang ul li{
    list-style-type: none;
    display: inline-table;
    line-height: 40px;
    width: 100px;
    background-color: #86BC42;
    font-size: 18px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    background: #537728;
}

#menudoc{
    width: 100%;
    height: 20%;
    background-color: brown;
}

#tintuc{
    width: 100%;
    height: 60%;
    background-color: blueviolet;
}

#lienhe{
    width: 100%;
    height: 15%;
    background-color: orange;
}