#tong{
    width: 100%;
    height: 2000px;
    background-color: tan;
}

#div_tren{
    width: 100%;
    height: 3%;
}

#div_tren  > .logo{
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
}

#div_tren > .search{
    width: 70%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 50px;
}

button:hover{
    height: 25px;
}

#menungang{
    width: 100%;
    height: 2%;
    background-color: #86BC42;
    max-width: 1200px;
    margin: 0 auto 0;
}

ul{
    list-style-type: none;

}

/*build clearfix để giải quyết float*/
.clearfix:before, .clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.menu{
    background: #86BC42;
    text-align: center;
}

/*style menu cấp 1 */
.menu > li{
    float: left;
    position: relative;
}

.menu > li a {
    display: block;
    font-size: 16px;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}

/*style menu cấp 2 */
#menu ul{
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background: #86BC42;
    display: none;
}

.menu ul ul{
    top: 0;
    left: 100%;
}

#menudoc{
    width: 100%;
    height: 20%;
    background-color: brown;
}

#tintuc{
    width: 100%;
    height: 60%;
    background-color: blueviolet;
}

#lienhe{
    width: 100%;
    height: 15%;
    background-color: orange;
}