#div_tong {
    width: 100%;
    height: 1400px;
    background: pink;
}


#div_tren {
    width: 100%;
    height: 10%;
    background: yellow;
}

#div_tren > .trai {
    width: 40%;
    height: 100%;
    background: orangered;
    float: left;
}

#div_tren > .phai {
    width: 60%;
    height: 100%;
    background: purple;
    float: left;
}

#div_tren > .phai > .tren {
    width: 100%;
    height: 85%;
    background: blue;
    text-align: right;
    font-size: 20px;
}
#div_tren > .phai > .duoi {
    width: 100%;
    height: 15%;
    background: yellow;
    text-align: right;
    font-size: 20px;
}



#div_duoi {
    width: 100%;
    height: 90%;
    background: green;
}

#div_duoi > .trai{
    width: 20%;
    height: 100%;
    background: tan;
    float: left;
}

#div_duoi > .trai > .tren {
    width: 100%;
    height: 40%;
    background: yellowgreen;
}

#div_duoi > .trai > .duoi {
    width: 100%;
    height: 60%;
    text-align: right;
}


#div_duoi > .giua{
    width: 60%;
    height: 100%;
    background: teal;
    float: left;
}

#div_duoi > .giua > .trai{
    width: 10%;
    height: 100%;
    background: khaki;
    float: left;

}

#div_duoi > .giua > .phai{
    width: 90%;
    height: 100%;
    background: lavender;
    float: left;
}

#div_duoi > .giua > .phai > .tren1{
    width: 100%;
    height: 40%;
    background: aquamarine;
}

#div_duoi > .giua > .phai > .tren1 > .trai1{
    width: 50%;
    height: 100%;
    background: thistle;
    float: left;
}

#div_duoi > .giua > .phai > .tren1 > .phai1{
    width: 50%;
    height: 100%;
    background: aquamarine;
    float: left;
    text-align: right ;
}

#div_duoi > .giua > .phai > .duoi1{
    width: 100%;
    height: 60%;
    background: rebeccapurple;
}


#div_duoi > .phai{
    width: 20%;
    height: 100%;
    background: navy;
    float: left;
}
