#div_tong{
    width: 100%;
    height: 580px;
    background-color: aqua;
}

#div_tren{
    width: 100%;
    height: 3%;
    background-color: blueviolet;
}

#div_tren ul {
    background-color: #CA9DC8;
    list-style-type: none;
    text-align: left;
}

#div_tren ul li{
    color: black;
    display: inline-table;
    width: 145px;
    height: 10px;
    line-height: 10px;
}

#div_tren ul li a{
    text-decoration: none;
    color: black;
    display: block;
}

#div_tren ul li a:hover{
    background: white;
    color: #333;
}

#div_duoi{
    width: 100%;
    height: 97%;
    background-color: brown;
}

#div_duoi > .trai{
    width: 40%;
    height: 100%;
    background-color: green;
    float: left;
}

#div_duoi > .giua{
    width: 50%;
    height: 100%;
    background-color: yellow;
    float: left;
}

#div_duoi > .phai{
    width: 2.6%;
    height: 100%;
    background-color: navy;
    float: left;
    text-align: right;
    border-left: 15px solid #979A64;
}