#div_tong{
    width: 100%;
    height: 580px;
    background-color: aqua;
}

#div_tren{
    width: 100%;
    height: 3%;
    background-color: blueviolet;
}

#div_tren ul {
    background-color: #CA9DC8;
    list-style-type: none;
    text-align: left;
}

#div_tren ul li{
    color: black;
    display: inline-table;
    width: 145px;
    height: 10px;
    line-height: 10px;
}

#div_tren ul li a{
    text-decoration: none;
    color: black;
    display: block;
}

#div_tren ul li a:hover{
    background: white;
    color: #333;
}

#div_duoi{
    width: 100%;
    height: 97%;
    background-color: brown;
}

#div_duoi > .trai{
    width: 40%;
    height: 100%;
    background-color: green;
    float: left;
}

#div_duoi > .trai > .tren{
    width: 100%;
    height: 5%;
    background-color: red;
}

#div_duoi > .trai > .giua{
    width: 100%;
    height: 65%;
    background-color: hotpink;
}

#div_duoi > .trai > .giua > .trai{
    width: 20%;
    height: 100%;
    background-color: indianred;
    float: left;
}

#div_duoi > .trai > .giua > .phai{
    width: 80%;
    height: 100%;
    background-color: navy;
    float: left;
}

#div_duoi > .trai > .giua > .phai > .tren{
    width: 100%;
    height: 15%;
    background-color: #996797;
    text-align: center;
}

h1{
    color: #996797;
    font-size: 20px;
}

#div_duoi > .trai > .giua > .phai > .duoi{
    width: 100%;
    height: 85%;
    background-color: tomato;
    overflow-x: auto;
    overflow-y: auto;
}

#div_duoi > .trai > .duoi{
    width: 100%;
    height: 30%;
    background-color: #996797;
    text-align: right;
}

#div_duoi > .giua11{
    width: 3.7%;
    height: 100%;
    background-color: blue;
    float: left;
    border-right: 5px dotted #996797;
    border-top: 5px dotted #996797;
}

#div_duoi > .giua{
    width: 20%;
    height: 100%;
    background-color: beige;
    float: left;
}

#div_duoi > .giua > .tren{
    width: 100%;
    height: 5%;
    background-color: palevioletred;
}

#div_duoi > .giua > .duoi{
    width: 100%;
    height: 95%;
    background-color: olive;
}

#div_duoi > .giua > .duoi > .giua11 {
    width: 18.4%;
    height: 100%;
    background-color: blue;
    border-top: 5px dotted #996797;
    border-right: 5px dotted #996797;
    float: left;
}

#div_duoi > .giua > .duoi > .giua12{
    width: 80%;
    height: 100%;
    background-color: orange;
    border-top: 5px dotted #996797;
    float: left;
}


#div_duoi > .giua2{
    width: 33.8%;
    height: 100%;
    background-color: yellowgreen;
    border-right: 40px solid #CBCB67;
    float: left;
}


#div_duoi > .phai{
    width: 2.6%;
    height: 100%;
    background-color: navy;
    float: left;
    text-align: right;
    border-left: 15px solid #979A64;
}